


.title-description {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.description {
    margin-bottom: 1rem;
    width: 1300px;
    /* width: auto; */
    font-size: 22px;
    text-align: justify;
    margin-bottom: 0;
}


.triple-image {
    width:425px;
    height: 300px;
    margin-bottom: 1rem;
}

.media-image {
    width: 1300px;
    height: 560px;
    margin-bottom: 1rem;
}

.fullwidth-image {
    width: 100vw;
    height: 23rem;

}

.fullwidth-container {
    width: 100vw;
    position: relative;
    margin-bottom: 1.5rem;

   
}

.body-content {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
    flex-direction: column;
}

.text-center {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    /* font-size: 40px; */
}

.text-center p:not(.highlighted-p) {
    width: 728.07px; /* Adjust the width as needed */
    margin: 0 auto; 
    text-align: start;
    font-family: 'sans-serif';
  }
  