/* RootLayout.css */
.outlet-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;    /* Vertical centering */
    /* min-height: calc(100vh - 100px);  */
    height: auto;      
     /* padding: 20px;  */
    margin-top: 2rem;
    box-sizing: border-box;
}
